:root  {
    --basic-text-colour: #2E2F42;
    --basic-font: 'Roboto',sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --colour-change: #404BBF;
}

* {
    margin: 0;
    padding: 0;
}

li {
     list-style: none;
}
 
h1,
h2,
h3,
h4
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    text-decoration: none;
}

img {
    display: block;
}


.list {
list-style: none;}


.link {
text-decoration: none ;}


body {
font-family: var(--basic-font);
color: #2E2F42;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
}

.container {
width: 1158px;
margin: 0 auto;
padding-right: 15px;
padding-left: 15px;
 }
    
.section {
 padding-top: 120px;
padding-bottom: 120px;}



.button {
font-family: var(--basic-font);
font-weight: 500;
cursor: pointer;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
border: none;
border-radius: 4px;
}



/*title-decor*/

.logo {
margin-right: 76px; 
}
    
.logo-text1 {

font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 1.3;
text-transform: uppercase;
letter-spacing: 0.03em;
color: #4D5AE5;
}

.logo-text2 {
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--basic-text-colour);
}

/*Header*/
.page-header-container {

display: flex;
align-items: center;
justify-content: space-between;
}

.header-border {
border-bottom: 1px solid #E7E9FC;
}

.navigate {
justify-content: space-between;
flex-direction: row;
align-items: flex-start;
padding: 0px;
display: flex;
text-align: center;
 }


.nav-list {
display: flex;
text-align: center;
align-items: center;
gap: 40px;
}


.menu-item {
font-weight: 500;
color: var(--basic-text-colour);}
.menu-item:focus,
.menu-item:hover {
color: var(--colour-change);   
}


.site-contacts {
display: flex;
text-align: center;
color: #434455;
padding-top: 24px;
padding-bottom: 24px ;
gap: 40px;
}

.telephone {
display: flex;
color:#434455;
}

.telephone:focus,
.telephone:hover {
color: var(--colour-change);      
}

.email {
display: flex;
color: #434455;}


.email:focus,
.email:hover {
color: var(--colour-change);
  
}

/*Section1*/

.hero-section {
padding-top: 188px;
padding-bottom: 188px; 
}
    

.hero-text { 
margin-bottom: 48px;
text-align: center;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
color: #FFFFFF;   
}

.modal-button {
margin: 0 auto;
display: block; 
padding: 16px 32px;
font-family: var(--basic-font);
font-weight: 500;
background: #4D5AE5;
letter-spacing: 0.04em;
color: #FFFFFF;
}

.modal-button:hover,
.modal-button:focus {
background: #404BBF;
color: #FFFFFF;
}

.hero-image {

height: 600px;
left: 0px;
}

.overlay-hero {
background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
url(../images/people-office-optimized.jpg);
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-left: auto;
margin-right: auto;

}


/*Section2*/

.logo-advantages-wrapper {
width: 264px;
height: 112px;
align-items: center;
justify-content: center;
background-color: #F4F4FD;
border-radius: 4px;
display: flex;
margin-bottom: 8px;
}

.advantures-section {
padding-bottom: 0;
}

.advantage-list {
display:flex;
justify-content: center;
gap: 24px;
}


.h3-title {
margin-bottom: 8px;
font-family: var(--basic-font);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color:var(--basic-text-colour);
}

.subtitle-text {
gap: 24px;
font-family: var(--basic-font);
color: #434455;
width: 264px;
height: 72px;
}

/*Section3*/

.section3-title {

text-align: center;
font-family: var(--basic-font);
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-transform: capitalize;
color: var(--basic-text-colour);
margin-bottom: 72px;
}

.section3-items {
justify-content: center;
align-items: center;
display: flex;
gap: 24px;
}

.section3-pictures { 
width: 360px;
height: 300px;

}

/*Team description*/

.section-team {
background: #F4F4FD;

}

.team-header {
margin-bottom: 72px;
text-align: center;
font-family: var(--basic-font);
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: var(--basic-text-colour);
}

.member-card {
flex-basis: calc((100%-72px)/4);

}

.member-items {
justify-content:space-between;
display: flex;
gap: 24px;
}


.member-photo {
width: 264px;
height: 260px;
}

.member-title {
margin-bottom: 8px;
text-align: center;
font-family: var(--basic-font);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--basic-text-colour);

}

.member-description {
text-align: center;
font-family: var(--basic-font);
color: #434455;
margin-bottom: 8px;
}

.membercard-content-wrapper {
padding-top: 32px;
padding-bottom: 32px;
background: #FFFFFF;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 
0px 2px 1px rgba(46, 47, 66, 0.08);
border: 1px;
width: 264px;
}

.member-socialmedia-list {
display: flex;
flex-direction: row;
padding: 0px;
gap: 24px;
justify-content:center;
}

.social-list-link {
display:flex;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
justify-content:center;
align-items: center;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404BBF;
}



/*Customers section*/


.customers-header {
font-family: var(--basic-font);
line-height: 1.1;
font-weight: 700;
text-align: center;
margin-bottom: 72px;
}

.customer-link {
display: flex;
align-items: center;
justify-content: center;
fill: #8E8F99;
width: 168px;
height: 88px;
border: 1px solid #8E8F99;
color: #8E8F99;
border-radius: 4px;
}

.customer-link:hover,
.customer-link:focus  {
border-color: var(--colour-change);
color: var(--colour-change);
}

.icon-customers {
  fill: currentColor; 
}

.icon-customers:hover,
.icon-customers:focus {
  fill: var(--colour-change);
}


.customers-list-container {
display: flex;
align-items: center;
margin-top: 72px;
padding: 0px;
gap: 24px;
}


/*Footer*/

.footer-container{

display: flex;
align-items: center;
align-items: baseline;
}

.footer {
background: var(--basic-text-colour);
display: flex;
}

.logo-footer {
padding-top: 100px;
}


.logo-text1-footer {
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color: #4D5AE5;
text-transform: uppercase;
}

.logo-text2-footer {
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color: #F4F4FD;
text-transform: uppercase;
}


.footer-text {
margin-top: 16px;
width: 264px;
font-family: var(--basic-font);
color: #E7E9FC;
padding-bottom: 100px;
}

.social-media-block-footer {
margin-left: 120px;
}

.social-media-header{
font-family: var(--basic-font);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}


.footer-socials-list {
display: flex;
padding: 0px;
gap: 16px;

}

.socials-icon-links {
  
display:flex;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
justify-content:center;
align-items: center;
}







/*Portfolio.html*/


/*buttons*/

.buttons-position {
text-align: justify;
display: flex;
gap: 24px;
align-items: center;
justify-content: center;
margin-bottom: 72px;
}

.button-portfolio {
padding: 12px 24px;
}

.button-portfolio:hover,
.button-portfolio:focus {
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.modal-btn-all {
Letter-spacing: 0.04em;
background: #F4F4FD;
color: #4D5AE5;
}
.modal-btn-all:hover,
.modal-btn-all:focus
{background-color: #404BBF;
color: #FFFFFF;}

.modal-btn-website {

letter-spacing: 0.04em;
background: #F4F4FD;
color: #4D5AE5;
}
.modal-btn-website:hover,
.modal-btn-website:focus
{background-color: #404BBF;
color: #FFFFFF;}


.modal-btn-app {

letter-spacing: 0.04em;
background: #F4F4FD;
color: #4D5AE5;
}
.modal-btn-app:hover,
.modal-btn-app:focus
{background-color: #404BBF;
color: #FFFFFF;}

.modal-btn-design {

background: #F4F4FD;
color: #4D5AE5;}
.modal-btn-design:hover,
.modal-btn-design:focus
{background-color: #404BBF;
color: #FFFFFF;}

.modal-btn-marketing {

background: #F4F4FD;
color: #4D5AE5;}
.modal-btn-marketing:hover,
.modal-btn-marketing:focus
{background-color: #404BBF;
color: #FFFFFF;}




/*Section*/

.portfolio-section {
padding-bottom: 120px;
padding-top: 96px;
}

.portfolio-card:hover  {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-card:focus  {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

/*.portfolio-card {
flex-basis: calc((100%-48px)/9);
}*/

.portfolio-card-wrapper {
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;    
border: 1px solid #E7E9FC;;
border-top: none;

}

.portfolio-list {
justify-content: center;
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
column-gap: 24px;
row-gap: 48px;
}

.portfolio-picture {
width: 360px;
height: 300px;
}

.portfolio-header {
margin-bottom: 8px;
font-family: var(--basic-font);
font-size: 20px;
line-height: 1.2;
color: var(--basic-text-colour)

}

.portfolio-text {
font-family: var(--basic-font);
color: #434455;
}